개인/recom_movie_ML/cosine_sim.pickle
개인/recom_movie_ML/movies.pickle
개인/recom_movie_ML/no_image.jpg
개인/recom_movie_ML/.ipynb_checkpoints/영화 추천 시스템-checkpoint.ipynb
개인/recom_movie_ML/영화 추천 시스템.ipynb
개인/recom_movie_ML/tmdb_5000_movies.csv
개인/recom_movie_ML/tmdb_5000_credits.csv
